@import "style/base";
@import "style/atomic";

$white-color: white;
$black-color: #1a1a1a;
$background-color: #2d2d2d;
$grey-color: #f0f0f0;
$separator-color: #bebebe;
$select-color: #ffd700;

$icons-folder: 'https://s3.eu-central-1.amazonaws.com/arzamas-static/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1200/icons';

div.xx-article {
  * {
    box-sizing: border-box;
  }

  a:hover {
    border-bottom: none;
  }
}

.xx-article {
  background-color: $background-color;
  color: $white-color;

  &--inverted {
    background-color: $white-color;
    color: $black-color;
  }
}

.xx-container {
  width: 960px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.xx-header {
  margin-bottom: 45px;

  &__chapter {
    padding-bottom: 0;
  }

  &__title {
    font: bold 24px $sans;
    text-align: center;
  }
}

.xx-body {
  display: flex;

  margin-top: 35px;
  width: 100%;

  &__sidebar {
    flex-shrink: 0;

    width: 180px;
    margin-right: 40px;
  }

  &__content {
    flex: 1; // not using flex-grow shorthand because of strange ie 11 behaviour
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: 40px;

    background-color: $grey-color;
    color: $black-color;
  }
}

.xx-columns {
  display: flex;

  &__item {
    padding: 10px 0;
    flex: 1;

    &:first-child {
      border-right: 1px solid $separator-color;
      padding-right: 20px;
    }

    &:last-child {
      padding-left: 25px;
    }
  }
}

.xx-separator {
  margin: 10px 0;
  width: 100%;
  height: 1px;

  background-color: $separator-color;
}

.xx-space {
  width: 100%;
  height: 15px;
}

.xx-avatar {
  padding-top: 100%;
  width: 100%;

  background: center/cover no-repeat url('https://s3.eu-central-1.amazonaws.com/arzamas-static/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1200/avatar.jpg');
  border-radius: 100%;
}

.xx-small-title {
  margin: 0 0 3px;

  font: 16px $sans;
}

.xx-paragraph {
  margin: 0;

  color: #4c4c4c;
  font: 21px/1.5 $serif;

  a {
    cursor: pointer;
    border-bottom: 1px dotted #4c4c4c;
  }
}

.xx-tags {
  margin-top: 123px;

  &__title {
    margin-bottom: 24px;

    font: italic 17px $serif;
    color: #969696;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    width: 100%;

    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 15px;
    border: 1px solid #969696;
    width: 100%;

    font: 15px $serif;
    text-align: center;

    &:hover {
      opacity: 0.6;
    }

    > button {
      width: 100%;
      min-height: 60px;
      padding: 15px 10px;
    }

    &--image {
      background-position: center;
      background-size: cover;
      border: none;

      > button {
        min-height: 95px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.xx-options {
  margin-top: 35px;

  &__title {
    background-color: #4b4b4b;
    padding: 20px 0;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 30px;

    color: $white-color;
    font: 17px $sans;
    text-align: center;
  }

  &__body {
    display: flex;
  }

  &__item {
    flex: 1;

    padding-top: 10px;
    padding-bottom: 25px;

    color: #4c4c4c;
    font: 19px/1.5 $serif;

    &:first-child {
      border-right: 1px solid $separator-color;
      padding-right: 25px;
    }

    &:last-child {
      padding-left: 25px;
    }

    a {
      cursor: pointer;
      border-bottom: 1px dotted #4c4c4c;
    }
  }

  &__button {
    display: block;

    line-height: 45px; // a hack, why doesn't it vertical align

    margin-top: 20px;
    padding: 0;
    width: 100px;
  }
}

.xx-letter {
  display: inline-block;

  position: relative;
  top: -2px;

  margin-right: 5px;
  width: 20px;

  background-color: #4b4b4b;
  border-radius: 100%;
  color: $white-color;
  font: 13px/20px $sans;
  text-transform: uppercase;
  text-align: center;
}

.xx-icon {
  display: inline-block;

  background-size: cover;

  &--arrow {
    height: 16px;
    width: 24px;

    background: url('https://s3.eu-central-1.amazonaws.com/arzamas-static/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1200/icons/arrow.svg');
  }

  &--cannon {
    width: 36px;
    height: 17px;

    background-image: url('https://s3.eu-central-1.amazonaws.com/arzamas-static/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1200/icons/cannon.svg');
  }

  &--crown {
    width: 22px;
    height: 20px;

    background-image: url('https://s3.eu-central-1.amazonaws.com/arzamas-static/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1200/icons/crown.svg');
  }

  &--pen {
    width: 15px;
    height: 22px;

    background-image: url('https://s3.eu-central-1.amazonaws.com/arzamas-static/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1200/icons/pen.svg');
  }

  &--cross {
    width: 20px;
    height: 20px;

    background-image: url('https://s3.eu-central-1.amazonaws.com/arzamas-static/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1200/icons/cross.svg');
  }

  &--text-before {
    vertical-align: middle;
    margin-right: -10px;
    margin-left: 10px;
  }

  &--text-after {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -10px;
  }
}

.xx-result {
  display: flex;

  &__img {
    flex-shrink: 0;

    > img {
      width: 490px;
    }
  }

  &__info {
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 110px;
  }

  &__separator {
    margin: 40px 0;
    width: 100px;
  }

  &__text {
    font: bold 25px $serif;
    text-align: center;
  }

  &__replay {
    margin-top: 60px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__replay,
  &__story {
    width: 215px;
  }
}

.xx-table {
  padding: 30px;

  background-color: $white-color;
  color: $black-color;
  font: 14px $serif;

  &__title {
    margin: 0 0 30px;

    font: bold 24px $serif;
    text-align: center;
  }
}

.xx-row {
  display: flex;

  border-top: 1px solid $separator-color;
  padding: 7px 0;

  &:last-child {
    border-bottom: 1px solid $separator-color;
  }

  &--bottom {
    border-bottom: none !important;
    padding-bottom: 0;
  }

  &--top {
    padding-bottom: 13px !important;
  }

  &__item {
    flex: 1 0 0px; // px for flex-basis because of ie11

    border-left: 1px solid $separator-color;
    padding: 4px 0 4px 8px;
    position: relative;

    &:first-child {
      border: none;
    }

    &--class {
      flex: 0 0 40px;
      padding: 4px 0 !important;

      text-align: center;
    }

    &--double {
      flex: 2 0 32px;
      padding: 4px 8px 0;
    }

    &--title {
      padding: 7px 8px;

      font-weight: bold;
      text-align: center;

      i {
        margin-bottom: 5px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      line-height: 16px;
      margin-bottom: 5px;
    }
  }

  &__level {
    height: 35px;
    text-align: center;
    line-height: 35px;

    position: absolute;
    top: -4px;

    left: 50%;
    transform: translate(-50%);

    &--selected {
      border-radius: 100%;
      width: 35px;

      background-color: $select-color;
    }
  }
}

.xx-table-container {
  width: 960px;

  display: flex;
  flex-direction: column;
}

.xx-text-inverted {
  transform: rotate(270deg);
}

.xx-text-selected {
  position: relative;

  &:before {
    content: '';

    position: absolute;
    left: -4px; top: 0;
    right: 8px; bottom: 0;

    background-color: $select-color;
  }

  > * {
    position: relative;
  }
}

.xx-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.xx-game-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__year {
    margin: -10px 0 20px;

    font: 800 60px $serif;
  }

  &__row {
    align-self: stretch;

    display: flex;
    align-items: center;

    margin-bottom: 60px;
  }

  &__age,
  &__rank {
    position: relative;

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid $separator-color;
    border-bottom: 1px solid $separator-color;
    height: 90px;
  }

  &__title {
    position: absolute;
    top: -33px;

    color: #4c4c4c;
    font: 17px $sans;
  }

  &__age {
    font: bold 32px $serif;
    text-align: center;
  }

  &__rank {
    display: flex;
    flex-direction: column;
  }

  &__rank-title {
    font: bold 19px $sans;
  }

  &__rank-type {
    margin-top: 5px;

    color: #969696;
    font: italic 15px $serif;
  }

  &__badge {
    flex-basis: 158px;
    margin: 0 12px;
  }
}

.xx-badge {
  position: relative;

  width: 158px;
  height: 182px;

  background-size: cover;
  background-repeat: no-repeat;

  &__title,
  &__placeholder,
  &__icon,
  &__subtitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title,
  &__placeholder {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon {
    top: 40px;
  }

  &__title {
    font: bold 50px $serif;
  }

  &__subtitle {
    bottom: 45px;
    font: italic 17px $serif;
  }

  &__placeholder {
    font: italic 18px/23px $serif;
    text-align: center;
  }

  &__ribbon {
    position: absolute;
    left: 50%;
    bottom: -14px;
    transform: translateX(-50%);

    width: 254px;
    height: 36px;

    background-image: url('https://s3.eu-central-1.amazonaws.com/arzamas-static/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1200/icons/ribbon.svg');
    background-size: cover;
    color: $white-color;
    font: bold 15px $sans;
    text-align: center;

    > button {
      border-bottom: 1px solid $white-color;
      position: relative;
      top: 8px;

      &:hover {
        border-bottom: none;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.xx-note {
  padding: 60px;
  width: 775px;

  background: $white-color;
  color: $black-color;

  &__title {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    font: bold 25px $sans;
  }

  &__img {
    border-bottom: 1px solid #e5e5e5;

    padding-top: 20px;
    margin: 15px auto 40px;
  }

  &__caption {
    margin: 10px 0 0;

    color: #4c4c4c;
    font: bold 13px/20px $serif;
  }

  &__copyright {
    margin-bottom: 10px;

    color: #999;
    font: italic 13px/20px $serif;
  }

  &__text {
    margin-top: 20px;
    color: #4c4c4c;
    font: 17px/26px $serif;
  }
}

.xx-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: auto;

  z-index: 500;

  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 130px 0;
    min-height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  &__body {
    position: relative;
    cursor: default;

    margin: 0 auto;
  }

  &__close-btn {
    position: absolute;

    right: -30px;
    top: 0;

    &:hover {
      opacity: 0.6;
    }

    transition: top .1s ease-out;
  }
}

.xx-level {

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    width: 520px;

    background: $white-color;
    color: $black-color;
  }

  &__title {
    margin: 10px 0 30px;
    width: 320px;

    font: bold 21px $serif;
    text-align: center;
  }

  &__subtitle {
    color: #4c4c4c;
    font: 17px $sans;
  }

  &__rank {
    margin: 5px 0 10px;
    font: bold 21px $sans;
  }

  &__rank-types {
    display: flex;
    list-style: none;

    margin: 0;

    color: #aaa;
    font: italic 18px $serif;

    > li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__separator {
    margin: 25px 0 10px;
  }

  &__rank-type-selected {
    border-bottom: 2px solid $black-color;
    padding-bottom: 5px;

    color: $black-color;
  }
}

.xx-opacity-transition {
  pointer-events: none;
  opacity: 0;
  transition: .2s opacity ease-out;

  &--visible {
    pointer-events: auto;
    opacity: 1;
  }
}

.xx-notice {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  vertical-align: middle;

  &__button {
    opacity: 0.7;
    display: block;
    background: no-repeat url(//cdn-s-assets.arzamas.academy/assets/svg/i-info-22e42ceac8f0e882c8efb01f5909e05057aa80359b1d5bb79388c84992994618.svg);
    border: none;
    width: 14px;
    height: 14px;
    position: relative;
    top: -2px;
    transition: none;

    &--opened {
      background-position: -15px 0;
    }
  }

  &__balloon {
    display: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    font: 13px/20px $sans;
    width: 300px;
    padding: 12px 15px;
    position: absolute;
    top: 0;
    left: 100%;
    margin: -18px 0 0 16px;

    &--opened {
      display: block;
    }

    &:after,
    &:before {
      content: " ";
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      right: 100%;
      top: 22px;
      pointer-events: none;
    }

    &:before {
      border-color: rgba(217,217,217,0);
      border-right-color: #d9d9d9;
      border-width: 11px;
      margin-top: -11px;
    }

    &:after {
      border-color: rgba(255,255,255,0);
      border-right-color: #FFFFFF;
      border-width: 10px;
      margin-top: -10px;
    }

    &--flipped {
      right: 100%;
      left: auto !important;
      margin: -18px 16px 0 0;

      &:before,
      &:after {
        left: 100%;
        right: auto;
      }

      &:before {
        border-right-color: transparent;
        border-left-color: #d9d9d9;
      }

      &:after {
        border-right-color: transparent;
        border-left-color: #ffffff;
      }
    }
  }
}

.xx-history {
  margin-top: 45px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 50px;

  text-align: center;

  &__text {
    width: 640px;
    margin: 45px auto;

    font: 17px/26px $serif;
    text-align: left;
  }
}

@media print {
  body > * {
    display: none;
  }

  .section-container,
  .article {
    display: block !important;

    > * {
      display: none;
    }
  }

  .app {
    display: block !important;
  }

  .xx-article {
    padding: 0;
    margin: 0;
    width: auto;

    > * {
      display: none;
    }
  }

  .xx-history {
    display: block;
    margin-top: 0;
    padding: 0;
    border: none;

    button {
      display: none;
    }

    &__text {
      width: 700px;
      margin: 0 auto;
    }
  }
}
